@mixin width-80 {
    width: 80%;
    margin: auto;
}

@mixin long-screen {
    height: 400px;
  /* width: 50%; */
  object-fit: cover;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $light-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $accent-color;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
  .screen {
    width: 100%;
  }  
}